HELP.md
target/
test/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### add ###
/test/
application-prod.yml


/.idea/
/module_system/module_system.iml
/module_system/src/test/java/
