<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mornd.system.mapper.PermissionMapper">
    <!--展示较少的列-->
    <sql id="simpleResultColumns">
        id,
        parent_id,
        title,
        code,
        sort,
        enabled
    </sql>

    <!--通用sql-->
    <sql id="findByRoleIdsCommonSql">
        AND sp.id IN(
        SELECT
        srp.per_id
        FROM
        sys_role_permission srp
        WHERE srp.role_id
        <foreach collection="roles" item="id" open="IN (" close=")" separator=",">
            #{id}
        </foreach>
        )
    </sql>

    <select id="getPersByRoleIds" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
            id,
            parent_id,
            title,
            path,
            component,
            code,
            icon,
            sort,
            keep_alive,
            enabled,
            menu_type
        FROM
            sys_permission sp
        WHERE
            sp.hidden = #{hidden}
        AND 
            sp.menu_type != #{excludeMenuType}
        <if test="enabledState != null">
            AND 
                sp.enabled = #{enabledState}
        </if>
        <include refid="findByRoleIdsCommonSql"/>
    </select>

    <select id="findCatalogueAndMenu" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
        <include refid="simpleResultColumns"/>
        FROM
        sys_permission sp
        WHERE
        sp.hidden = #{hidden}
        AND (sp.menu_type = #{catalogue} OR sp.menu_type = #{menu})
    </select>
    
    <select id="findCatalogues" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
        <include refid="simpleResultColumns"/>
        FROM
        sys_permission sp
        WHERE
        sp.hidden = #{hidden}
        AND sp.menu_type = #{menu}
    </select>
    
    <select id="findAllPers" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
            id,
            parent_id,
            title,
            sort,
            enabled
        FROM
            sys_permission
        WHERE
            hidden = #{hidden}
    </select>
</mapper>
