<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mornd.system.mapper.SysPermissionMapper">
    <sql id="resultColumns">
        id,
        parent_id,
        title,
        `NAME`,
        path,
        component,
        code,
        icon,
        sort,
        keep_alive,
        require_auth,
        is_route,
        enabled,
        menu_type,
        hidden,
        gmt_create
    </sql>

    <!--较少的列-->
    <sql id="simpleResultColumns">
        id,
        parent_id,
        title,
        code,
        sort,
        enabled
    </sql>

    <!--*-->
    <select id="findByRoleIds" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
            <include refid="resultColumns"/>
        FROM
            sys_permission sp
        WHERE
            sp.hidden = #{sysPermission.hidden}
        <if test="sysPermission.menuType != null">
            AND sp.menu_type != #{sysPermission.menuType}
        </if>
        <if test="sysPermission.title != null and sysPermission.title != ''">
            AND sp.title LIKE concat('%',#{sysPermission.title},'%')
        </if>
        <if test="sysPermission.path != null and sysPermission.path != ''">
            AND sp.path LIKE concat('%',#{sysPermission.path},'%')
        </if>
        <if test="sysPermission.enabled != null">
            AND sp.enabled = #{sysPermission.enabled}
        </if>
        <if test="sysPermission.parentId != null and sysPermission.parentId != ''">
            AND sp.parent_id = #{sysPermission.parentId}
        </if>
        <include refid="findByRoleIds"/>
    </select>

    <!--通用sql-->
    <sql id="findByRoleIds">
        AND sp.id IN(
        SELECT
        srp.per_id
        FROM
        sys_role_permission srp
        WHERE srp.role_id
        <foreach collection="roles" item="id" open="IN (" close=")" separator=",">
            #{id}
        </foreach>
        )
    </sql>

    <select id="findCatalogueAndMenu" resultType="com.mornd.system.entity.po.SysPermission">
        SELECT
        <include refid="simpleResultColumns"/>
        FROM
        sys_permission sp
        WHERE
        sp.hidden = #{hidden}
        AND (sp.menu_type = #{catalogue} OR sp.menu_type = #{menu})
        <include refid="findByRoleIds"/>
    </select>
</mapper>
