<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mornd.system.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.mornd.system.entity.po.SysUser">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="create_by" property="createBy"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
    </resultMap>
    
    <select id="pageList" resultType="com.mornd.system.entity.vo.SysUserVO">
        SELECT 
            id,
            login_name,
            real_name,
            gender,
            birthday,
            phone,
            status,
            avatar,
            email,
            gmt_create
        FROM 
            sys_user 
        <trim prefix="where" prefixOverrides="and|or">
            <if test="user.loginName != null and user.loginName != ''">
                AND login_name LIKE concat('%',#{user.loginName},'%')
            </if>
            <if test="user.realName != null and user.realName != ''">
                AND real_name LIKE concat('%',#{user.realName},'%')
            </if>
            <if test="user.gender != null">
                AND gender = #{user.gender}
            </if>
            <if test="user.status != null">
                AND status = #{user.status}
            </if>
        </trim>
        ORDER BY 
            gmt_create
    </select>
    
    <select id="getRoleById" resultType="java.lang.String">
        SELECT
            sr.id
        FROM
            sys_role sr
        INNER JOIN sys_user_role sur ON
            sr.id = sur.role_id
        WHERE
            sur.user_id = #{id}
    </select>
</mapper>
